<div class="container">
    <br>
    <h2 class="text-center">Electronics Shops</h2>
   <br>

<div class="row">
    <div class="col-md-3 col-sm-6" *ngFor="let data of homeData; index as i ">
        <div class="product-grid" *ngIf="i<=8">
            <div class="product-image">
                <a routerLink="/cart/{{data.id}}" class="image">
                    <img class="pic-1" [src]="data.image" alt=""/>
                </a>
                <ul class="product-links">
                    <li><a href="#"><i class="fa fa-shopping-bag"></i> Add to cart</a></li>
                    <li><a routerLink="/cart" ><i class="fa fa-search"   ></i> Quick View</a></li>
                </ul>
            </div>
            <div class="product-content">
                <h3 class="title"><a href="#">{{data.name}}</a></h3>
                <div class="price">{{data.price}}</div>
            </div>
        </div>
    </div>